doctype html
html
    head
        title!= `${title}`
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(http-equiv='Cache-Control' content='no-cache')
        link(rel='stylesheet', href=`/css/bootstrap.min.css`)
        script(src=`/js/bootstrap.min.js`)
        script(src=`/js/jquery-3.2.1.min.js`)
        script(src=`/js/popper.min.js`)
    body
        div(id='root')
        script(src=`/build/app.js`)

        